@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style>
            body {
                font-family: monospace;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script type="text/javascript">
            var ws = new WebSocket("ws://localhost:9000/ws");
            var newmsg;
            var more_requested = true;
            ws.onmessage =  function( message ) {
                newmsg = $("#socket").append("<li>" + message.data + "</li>");
                more_requested = false;
            };

            function atBottom() {
            	var scroller = $("#scroller");
            	var content = $("#socket");
            	var totalHeight = content.height() + parseInt(content.css("margin-bottom"));
            	var paneHeight = scroller.height();
            	var current_position = scroller.scrollTop() + scroller.height();
            	console.log(current_position,totalHeight);
            	if ( (current_position + paneHeight + paneHeight) < totalHeight ) {
            		console.log("not at bottom");
            		return false;
            	} else {            		
            		console.log("at bottom");
            		return true;
            	}
            }

            $(document).ready( function() {
                $("#console-form").submit(function(event) {
                    event.preventDefault();
                    var message = $("#console").val();
                    $("#console").val("");
                    ws.send(message);
	                more_requested = false;
                });
                $("#scroller").scroll(function(event){
                	if (atBottom() && !more_requested) {
                		ws.send(":more");
                		more_requested = true;
                	}
                });

            });
        </script>
    </head>
    <body style="background: darkgray">
        @content
    </body>
</html>


